.how__it__works {
    display: grid;
}

.how__it__works__right {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
    padding: 2em;
}

.how__it__works__left {
    padding: 2em;
}





/* xs */
/* @media (min-width: 475px) {
    
} */

/* sm */
/* @media (min-width: 640px) {
    
} */

/* md */
@media (min-width: 768px) {
    .how__it__works {
        grid-template-columns: 1fr 1fr;
    }
}

/* lg */
/* @media (min-width: 1024px) {
    
} */

/* xl */
/* @media (min-width: 1280px) {
    
} */

/* 2xl */
/* @media (min-width: 1536px) {
    
} */